.createContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createLabel{
    margin-top: 1%;
    width: 54.5%;
}

.createTextArea{
    margin-top: 1%;
    width: 54.5%;
}

.createInput{
    width: 54.5%;
}

.createSelect{
    width: 54.5%;
}

.createSubmit{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
}

.createHiddenDiv {
    display: none;
}
      
.createPictureLabel:hover + .createHiddenDiv {
    display: block;
    background-color: white;
    color: red;
}

.flexRow {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.createRangeInput{
    width: 54.5%;
    pointer-events: none;
}