.termsButton {
    color: #242424;
    background-color:#000000;
}

.termsButton:hover {
    background-color: #333333;
}

.termsFlex {
    display: flex;
    flex-direction: column;
}

.termsText {
    line-height: 100%;
    height: 780px;
}