<div>
  <div *ngIf="auctionList" class="auctionListContainer">
    <span id='alert' class="auctionListAlert" (click)="closeAlert()">
        Number of auctions found: {{auctionList.length}}.
    </span>
    <div *ngFor='let auction of auctionList' class="auctionListPanel" (click)="auctionClick(auction)">
      <div class="auctionListImageComponent">
        <img class="auctionListImg" src={{auction.image}}/>
        <label class="auctionListTitleLabel"><b>{{auction.title}}</b></label>
      </div>
      <div class="auctionListTextComponent" >
        <label><b>Price: {{auction.price}} PLN</b></label>
        <label><b>{{getAuctionDate(auction.endDate)}}</b></label>
      </div>
    </div>
  </div>
</div>