.homeMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5vw;
    margin-top: 1%;
}

.homeSubContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5vw;
    margin-top: 1rem;
}

.homeLabel{
    margin-top: 1%;
    width: 100%; 
    text-align: center;
    font-size: xx-large;
    background-color: yellow;
    animation-name: homeTitleAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.homeFlexElement{
    cursor: pointer;
}

.mainCategoryInput{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 10px;
}

.subCategoryInput{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: 8px;
}

.subSubCategoryInput{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 5px;
}

@keyframes homeTitleAnimation {
    0%   {background-color: yellow;}
    100%  {background-color: red;}
}

#animationButton {
    float: right;
}